* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5); /* белая прозрачная подложка */
  z-index: -1; /* чтобы не перекрывала контент */
}
body {
  background-image: url("./images/back2.jpg");
  color: #e9e5e5;
}

header {
  text-align: center;
  padding: 20px;
  background: linear-gradient(135deg, #566d76, #ffdde1);
}

header h1 {
  font-size: 2rem;
  margin-bottom: 5px;
}

header nav a {
  margin: 0 15px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
  transition: color 0.3s;
}

header nav a:hover {
  color: #ff6347;
}

.home-main {
  text-align: center;
  padding: 50px 0px;
}

/* Блок с фото и текстом */
.hero {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-photo {
  width: 50%;
  max-width: 800px;
  border-radius: 10px;
}

/* Текст поверх фото */
.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 3.5rem;
  font-weight: bold;
  text-shadow: 2px 2px 15px rgba(0, 0, 0, 0.7);
  padding: 20px 0;
}

/* Галерея */
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.photo img {
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.photo img:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

/* Контакты */
.contacts-main {
  text-align: center;
  padding: 50px 20px;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #566d76;
}

/* Адаптивность */
@media (max-width: 768px) {
  .hero-text {
    font-size: 2rem;
    padding: 10px;
  }

  .main-photo {
    width: 80%;
  }
}
